<h3>@AccordionTitle</h3>

<EditForm EditContext="@_editContext">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="accordion accordion-flush" id="idAccordionGeneralSettings">
        @foreach (var item in AccordionItems)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button @onclick="() => ToggleAccordion(item)" class="accordion-button @item.CssCollapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="@item.IsAriaExpanded" aria-controls="collapseOne">
                        @item.Title
                    </button>
                </h2>
                <div class="accordion-collapse collapse @item.CssShow" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @if (item.Title == General)
                        {
                            <SettingsRow Label="Default data path" FieldId="@IdDefaultDataPath">
                                <InputText @onfocus='()=>OnFocus(IdDefaultDataPath)'
                                           @bind-Value="@_model.DefaultDataPath" type="text" class="form-control"/>
                            </SettingsRow>

                            <SettingsRow Label="Backup ascent RTSO file additionally" FieldId="idBackupAscentRtso"
                                         Type="checkbox">
                                <InputCheckbox class="form-check-input" @bind-Value="@_model.IsBackupAscentRtso"/>
                            </SettingsRow>

                            <SettingsRow Label="Backup ascent zip file additionally" FieldId="idBackupZipFile"
                                         Type="checkbox">
                                <InputCheckbox class="form-check-input" @bind-Value="@_model.IsBackupZipFile"/>
                            </SettingsRow>

                            <SettingsRow Label="Directory" FieldId="idDirectory">
                                <InputText @bind-Value="@_model.Directory" type="text" class="form-control"/>
                            </SettingsRow>

                            <SettingsRow Label="Use raw data validation before the ascent"
                                         FieldId="idUseRawDataValidation" Type="checkbox">
                                <InputCheckbox class="form-check-input"
                                               @bind-Value="@_model.IsRawDataValidationBeforeAscent"/>
                            </SettingsRow>

                            <SettingsRow Label="Adjust System Time by GPS" FieldId="idAdjustSystemTimeByGps"
                                         Type="checkbox">
                                <InputCheckbox class="form-check-input" @bind-Value="@_model.IsAdjustSystemTimeByGps"/>
                            </SettingsRow>

                            <SettingsRow Label="Adjust System Time by NTP Server"
                                         FieldId="idAdjustSystemTimeByNtpServer" Type="checkbox">
                                <InputCheckbox class="form-check-input" @bind-Value="@_model.IsAdjustSystemTimeByNtp"/>
                            </SettingsRow>

                            <SettingsRow Label="NTP Server" FieldId="idNtpServer">
                                <InputText @bind-Value="@_model.NtpServer" type="text" class="form-control"/>
                            </SettingsRow>

                            <SettingsRow Label="MenuType" FieldId="idMenuType">
                                <InputText @bind-Value="@_model.MenuType" type="text" class="form-control"/>
                            </SettingsRow>

                            <SettingsRow Label="Number of sondes" FieldId="idNumberOfSondes">
                                <InputNumber @bind-Value="@_model.NumberOfSondes" class="form-control"/>
                            </SettingsRow>

                            <SettingsRow Label="Repeat ascent if necessary" FieldId="idRepeatAscentIfNecessary"
                                         Type="checkbox">
                                <InputCheckbox class="form-check-input"
                                               @bind-Value="@_model.IsRepeatAscentIfNecessary"/>
                            </SettingsRow>
                        }

                        @if (item.Title == StartDetectionSettings)
                        {
                            <SettingsRow Label="Allow adjusting detected start time"
                                         FieldId="idAllowAdjustingDetectedStartTime" Type="checkbox">
                                <InputCheckbox class="form-check-input"
                                               @bind-Value="@_model.IsAllowAddingDetectedStartTime"/>
                            </SettingsRow>

                            <SettingsRow Label="Open ground data window after start was..."
                                         FieldId="idOpenGroundDataWindowAfterStart" Type="checkbox">
                                <InputCheckbox class="form-check-input"
                                               @bind-Value="@_model.IsOpenGroundDataWindowAfterStart"/>
                            </SettingsRow>
                        }

                        @if (item.Title == ShutdownSettings)
                        {
                            <SettingsRow Label="Shut down after sounding was stopped"
                                         FieldId="idShutdownAfterSoundingWasStopped" Type="checkbox">
                                <InputCheckbox class="form-check-input"
                                               @bind-Value="@_model.IsShutdownAfterSoundingWasStopped"/>
                            </SettingsRow>

                            <SettingsRow Label="Delay (min)" FieldId="idDelay">
                                <InputNumber @bind-Value="@_model.DelayInMinutes" class="form-control"/>
                            </SettingsRow>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mb-2">
        <div class="col-12 custom-info">
            <label class="fw-bold">@InfoTitle</label>
            <br>
            <label>@InfoDescription</label>
        </div>
    </div>
</EditForm>




